.resume {
  border-radius: 5px;
  /* overflow: hidden; */
}

.resume a {
  display: block;
}

.resumeHeader {
  background-color: #18181b;
  color: #fafafa;
}

.fullName {
  font-size: 2rem;
  font-weight: 900;
}

.professionalTitle {
  font-size: 1.2rem;
  font-weight: 700;
}

.icon {
  margin-right: 0.45rem;
}

.resumeBody {
  background-color: #f4f4f5;
  padding: 2.5rem;
}

.resumeBodyRow {
  margin-bottom: 0;
}

.resumeBody h2 {
  font-size: 1.7rem;
  font-weight: 900;
}
